
apiVersion: v1
kind: Service
metadata:
  name: web-service
  namespace: highly-available-k8s-system
spec:
  selector:
    app: web
  ports:
    - protocol: TCP
      port: 80
      targetPort: 8080
  type: NodePort
